@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i&display=swap');

//colors

$black: #040404;
$inputBGColor: #020202;
$white: #f0f0f0;
$disabledSelect : #242424;

$lightBlue: #01baea;
$mediumBlue: #0a94b9;
$darkBlue: #047f9e;

$errorColor: #b00700;

$whiteShadow: rgba(240, 240, 240, 0.51);
$errorShadow: rgba(176, 7, 0, 0.5);

//fonts

$mainFont: 'Roboto', sans-serif;

//font weights

$light: 300;
$regular: 400;
$bold: 700;

//borders, shadows

$fieldBorder: 2px groove $white;
$errorBorder: 2px groove $errorColor;

$fieldActive: 0 0 8px 1px $whiteShadow;
$errorActive: 0 0 8px 1px $errorShadow;
